<link rel="stylesheet" href="/css/flash.css" />
<% if(success.length) { %>
<div class="flash-message"><%= success %></div>
<% } %> <% if(failure.length) { %>
<div class="flash-message"><%= failure %></div>
<% } %>
<script src="/js/flash.js"></script>
