<link rel="stylesheet" href="/css/footer.css" />
<div class="footer">
  <div class="footer-icon">
    <div class="footer-icon-language">
      <div class="footer-icon-language-icon">
        <img
          src="https://cdn0.iconfinder.com/data/icons/phosphor-regular-vol-3/256/globe-simple-512.png"
          alt=""
        />
      </div>
      <div class="footer-icon-language-text">English (US)</div>
    </div>
    <div class="footer-icon-currency">$ USD</div>
    <div class="footer-icon-social">
      <div class="footer-icon-social-fb">
        <i class="fa-brands fa-square-facebook"></i>
      </div>
      <div class="footer-icon-social-twitter">
        <i class="fa-brands fa-square-twitter"></i>
      </div>
      <div class="footer-icon-social-insta">
        <i class="fa-brands fa-square-instagram"></i>
      </div>
    </div>
  </div>
  <div class="footer-info">
    <div class="footer-info-copyright">© 2024 Airbnb, Inc.</div>
    <div class="footer-info-terms">
      <a href="">Terms</a>
      <a href="">Sitemap</a>
      <a href="">Privacy</a>
      <a href="">Your privacy choices</a>
    </div>
  </div>
</div>
