<link rel="stylesheet" href="/css/nav.css" />
<div class="navbar">
  <a href="http://localhost:3000/listings">
    <div class="nav-logo">
      <img src="/assets/airbnb-logo.png" alt="" />
    </div>
  </a>
  <div class="nav-option">
    <div class="nav-option-stays">
      <input
        type="radio"
        name="nav-option-select"
        value="nav-option-stays"
        id="nav-option-stays"
        checked
      />
      <label for="nav-option-stays">Stays</label>
    </div>
    <div class="nav-option-experience">
      <input
        type="radio"
        name="nav-option-select"
        value="nav-option-experience"
        id="nav-option-experience"
      />
      <label for="nav-option-experience">Experiences</label>
    </div>
  </div>
  <div class="nav-icon">
    <div class="nav-icon-your-home">
      <a href="/listings/new">Airbnb your home</a>
    </div>
    <div class="nav-icon-globe">
      <a href="">
        <img
          src="https://cdn0.iconfinder.com/data/icons/phosphor-regular-vol-3/256/globe-simple-512.png"
          alt=""
        />
      </a>
    </div>
    <div class="nav-icon-user-container">
      <input
        type="checkbox"
        id="nav-icon-user-checkbox"
        name="nav-icon-user-checkbox"
      />
      <div class="nav-icon-user-dropdown">
        <% if(userExists){ %><span>Hi, <%= userInfo.username %></span>
        <a href="/auth/user/logout">Logout</a>
        <% } %> <% if(!userExists){ %>
        <a href="/auth/user/login">Login</a>
        <a href="/auth/user/signup">Signup</a>
        <% } %>
      </div>
      <label for="nav-icon-user-checkbox">
        <div class="nav-icon-user">
          <div class="nav-icon-user-toggle">
            <img
              src="https://cdn0.iconfinder.com/data/icons/mobile-basic-vol-1/32/Burger_Menu-512.png"
              alt=""
            />
          </div>
          <div class="nav-icon-user-icon">
            <img
              src="https://cdn3.iconfinder.com/data/icons/font-awesome-solid/512/circle-user-512.png"
              alt=""
            />
          </div>
        </div>
      </label>
    </div>
  </div>
</div>
