<% layout("layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/create.css" />
<div class="new-listing">
  <div class="large-middle-text">Airbnb it.</div>
  <div class="large-middle-text-black">List yours one</div>
  <div class="new-listing-form">
    <form method="post" action="/listings" enctype="multipart/form-data">
      <div class="new-listing-form-pair">
        <label for="title">Title</label>
        <input
          type="text"
          id="title"
          name="listing[title]"
          placeholder="Add a catchy title"
        />
        <div class="warning">Enter a valid title</div>
      </div>
      <div class="new-listing-form-pair">
        <label for="description">Description</label>
        <textarea
          type="text"
          id="description"
          name="listing[description]"
        ></textarea>
        <div class="warning">Description cannot be empty</div>
      </div>
      <div class="new-listing-form-pair">
        <label for="image">Image</label>
        <input type="file" accept="image/*" id="image" name="listing[image]" />
        <div class="warning">
          Adding some image might get more users attention
        </div>
      </div>
      <div class="new-listing-form-collapse">
        <div class="new-listing-form-pair">
          <label for="price">Price</label>
          <input
            type="number"
            id="price"
            name="listing[price]"
            placeholder="Price goes here"
          />
          <div class="warning">Price cannot be empty or less than 0</div>
        </div>
        <div class="new-listing-form-pair">
          <label for="location">Location</label>
          <input
            type="text"
            id="location"
            name="listing[location]"
            placeholder="Enter your location"
          />
          <div class="warning">Location is must to add</div>
        </div>
      </div>
      <div class="new-listing-form-pair">
        <label for="country">Country</label>
        <input
          type="text"
          id="country"
          name="listing[country]"
          placeholder="Country goes here"
        />
        <div class="warning">Enter country before proceeding</div>
      </div>
      <br />
      <button>Create</button>
    </form>
    <script src="/js/formRequired.js"></script>
  </div>
</div>
