<% layout("layouts/boilerplate.ejs") %>
<link rel="stylesheet" href="/css/error.css" />
<div class="error-div">
  <div class="error-code"><%= status %></div>
  <div class="error-message"><%= message %></div>
</div>
