.card-container {
  display: flex;
  flex-wrap: wrap;
  padding: 2.5em;
  gap: 1.5rem;
  row-gap: 3em;
  justify-content: center;
}

.card-container a {
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  height: 21rem;
  max-width: 16.5rem;
  cursor: pointer;
}

.card:hover .card-image {
  /* min-height: 16.5rem;
  max-width: 17rem; */
  transform: translateY(-0.5rem);
}

.card-image {
  min-height: 16rem;
  max-width: 16.5rem;
  transition: 0.3s all ease-in-out;
}

.card-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 0.8rem;
}

.card-info {
  padding-top: 0.2em;
  font-size: 100%;
  color: hsla(0, 0%, 20%);
}

.card-info-title {
  font-weight: 600;
  margin-top: 0.4em;
  margin-bottom: 0.2em;
  padding: 0.025em 0.1em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info-description {
  padding: 0.025em 0.1em;
  font-weight: 500;
  font-size: 95%;
  color: hsla(0, 0%, 50%);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-info-price {
  padding: 0.25em 0.1em;
  font-weight: bold;
  font-size: 90%;
}
